/*
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
*/
body {
    background: url(http://habrastorage.org/files/c9c/191/f22/c9c191f226c643eabcce6debfe76049d.jpg);
}

.jumbotron {
    height: 420px;
	text-align: center;
	width: 30rem;
	border-radius: 0.5rem;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	margin: 4rem auto;
	background-color: #fff;
	padding: 2rem;
}

.jumbotron-sign {
    text-align: center;
    width: 60rem;
    border-radius: 0.5rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: 4rem auto;
    background-color: #fff;
    padding: 2rem;
}

.jumbotron-add {
    width: 40rem;
    border-radius: 0.5rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: 10rem auto;
    background-color: #fff;
    padding: 2rem;
}

.container .glyphicon-user {
	font-size: 10rem;
	margin-top: 3rem;
	color: #eab2a8;
}

.glyphicon-search {
    font-size: 2rem;
    margin-top: 1rem;
    color: #eab2a8;
    float: left;
	margin-right: 15px;
	height: 26px;
	left: 5px;
	top: 5px;
	line-height: 0;
}

.glyphicon-plus {
    font-size: 2rem;
	margin-top: 1rem;
    color: #eab2a8;
    float: left;
	margin-right: 15px;
	height: 26px;
	left: -6px;
    top: 2px;
	line-height: 0;
}

input {
	width: 100%;
	margin-bottom: 1.4rem;
	padding: 1rem;
	background-color: #ecf2f4;
	border-radius: 0.2rem;
	border: none;
}
h2 {
	margin-bottom: 3rem;
	font-weight: bold;
	color: #ababab;
}
.btn {
	border-radius: 0.2rem;
}
.btn .glyphicon {
	font-size: 3rem;
	color: #fff;
}
.full-width {
	background-color: #8eb5e2;
	width: 100%;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.small-width {
	float: left;
	background-color: #8eb5e2;
	border: 1px solid transparent;
	line-height: 0;
	height: 40px;
}
.box {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 3rem;
	margin-left: 3rem;
	margin-right: 3rem;
}

.back {
	z-index: 0;
}

.blur {
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.6);
	min-height: 100%;
    min-width: 100%;
    position: absolute;
}

.add-client {
	position: absolute;
    float: left;
    left: 0px;
    bottom: 0px;
    height: 90px;
    margin: 20px;
    width: 36rem;
}

.label-checkbox {
	font-weight: 100; 
	color:#8a8a8a; 
	font-size: 18px; 
	margin-left: 2px;
}

.input-checkbox {
	width: 2rem; 
	height: 18px; 
	margin-left: 4px !important;
}
