<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/main.js"></script>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="css/main.css">

<body ng-app="myApp" ng-controller="myCtrl">
        <div class="jumbotron-sign back">
                <h2>Search Clients</h2>
                <div>
                    <input type="text" placeholder="Name" style="float:left; width:44rem">
                    <button ng-click="searchClient()" class="btn btn-default small-width"><span class="glyphicon glyphicon-search"></span></button>
                    <button ng-click="openAddClient()" style="background-color: #eab2a8; width: 40px;" class="btn btn-default small-width"><span class="glyphicon glyphicon-plus"></span></button>
                </div>                
        </div>
        <div class="blur">
                <div class="jumbotron-add">
                        <input type="text" placeholder="Name" style="float:left; width:35rem">
                        <input type="text" placeholder="CPF" style="float:left; width:35rem">
                        <input type="text" placeholder="Birth" style="float:left; width:35rem">
                        
                        <div class="form-check">
                                <input class="form-check-input input-checkbox" type="checkbox" id="defaultCheck1">
                                <label class="form-check-label label-checkbox" for="defaultCheck1" >Back Restriction</label>
                        </div>
                        <div class="form-check">
                                <input class="form-check-input input-checkbox" type="checkbox" id="defaultCheck1">
                                <label class="form-check-label label-checkbox" for="defaultCheck1" >Back Restriction</label>
                        </div>
                        <div class="form-check">
                                <input class="form-check-input input-checkbox" type="checkbox" id="defaultCheck1">
                                <label class="form-check-label label-checkbox" for="defaultCheck1" >Back Restriction</label>
                        </div>
                        <div class="form-check">
                                <input class="form-check-input input-checkbox" type="checkbox" id="defaultCheck1">
                                <label class="form-check-label label-checkbox" for="defaultCheck1" >Back Restriction</label>
                       </div>

                        <input type="text" placeholder="Height" style="float:left; width:35rem">
                        <input type="text" placeholder="Weight" style="float:left; width:35rem">                      

                        <button ng-click="addClient()" class="btn btn-default full-width add-client"><span class="glyphicon glyphicon-ok"></span></button>
                </div>
        </div>
</body>
</html>
